html,body{ 
margin:0px; 
height:100%; 
} 

.command_div .search_value{
    width:15%;
}
#navigator {
    width: 10%;
}
#navigator_panel {
    width:100%;
    height:auto;
    padding:10px;
}
#center_div {
    margin-left: 15px;
    border:hidden;
}
#content {
    margin:auto;
    width:90%
}
#footer {
    width:100%;
    margin: auto;
    bottom: 10;
    text-align: center;
}

#login_form_div {
    margin:auto; 
    width:30%;
    top:20%;
}
#login_form table tr {
    height:45px
}
#command_div input{
    margin:5px
}
.textarea_div textarea {
    width: 100%; 
}

.easyui-linkbutton {
    margin-top: 5px
}

.admin {
    display: None;
    color:blue;
}
.dead {
    display: None
}