<html>
<head>
<meta charset="utf-8">
<script src="static/js/jquery.min.js"></script>
<script src="static/js/jquery.cookie.js"></script>
<link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon"/>
<style type="text/css">
div {margin:10px;}
input {margin:5px;}
.container {width: 95%; padding:5%;}
table.gridtable {font-size:11px;border-width: 1px;border-collapse: collapse;}
table.gridtable th {border-width: 1px;padding: 8px;border-style: solid;
  background-color: #dedede;}
table.gridtable td {border-width: 1px;padding: 8px;border-style: solid;}
</style>

<title>数据分析v1.0.2 控制台</title>
</head>

<body>
<div class=container>
<div class=head>
<input id=table_name type=text>
<input id=table_export type=button value=导出表格>
  <form action="/upload_file" method="post" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="submit" value="提交文件到后台根目录">
    </form>

</div>

<div class=content>

</div>

<div class=foot>
</div>
</div>
</body>
</html>

<script>
  //从二级数组生成表格
function array2table(data, edit=false){
  var tb = $("<table class=gridtable>")[0]
  let tr = $("<tr>")[0]
  tb.append(tr)
  data[0].map(i=>{
    let th = $("<th>")[0]
    th.textContent = i
    tr.append(th)
  })
  data.slice(1,).map(r=>{
    let tr = $("<tr>")[0]
    tb.append(tr)
    r.map(i=>{
      let td = $("<td>")[0]
      let bx = $("<input>")[0]
      td.textContent = i
      tr.append(td)
    })
  })
  return tb
}

//获取初始信息
account_info()
function account_info(){
  var url = "/account_info"
  $.get(url, function(res){
    var data = res.data
    var hd = [["account_info", "password", "cookies", "update_time", "action"]]
    data.map(i => i.push(""))
    data = hd.concat(data)
    var tb = array2table(data)
    $("div.content")[0].append(tb)
    var rows = $("tr", tb).toArray().slice(1,)
    rows.map(i=>{
      let ck = i.children[2].textContent
      i.children[2].textContent = ""
      let ip = $("<input>")[0]
      ip.value = ck
      i.children[2].append(ip)
    })
    rows.map(i=>{
      let b1 = $("<input type=button class=get_update_cookie_jar value=获取cookies>")[0]
      i.children[4].append(b1)
      let b2 = $("<input type=button class=update_all_listing value=产品列表>")[0]
      i.children[4].append(b2)
      let b3 = $("<input type=button class=update_shop_performance value=账号表现>")[0]
      i.children[4].append(b3)
      let b4 = $("<input type=button class=open_sellercenter value=打开后台>")[0]
      if (res.platform = 'Windows'){i.children[4].append(b4)}     
    })
  })
}

//检查并更新cookies
$(".content").delegate(".get_update_cookie_jar", "click", function(){  
  var tr = $(this)[0].parentElement.parentElement
  $("input", tr)[0].value = "获取中"
  var account = tr.children[0].textContent
  var url = `/get_update_cookie_jar?account=${account}`
  $.get(url, function(res){
    $("input", tr)[0].value = res.data.cookies;
  })
})

//更新全部在线产品
$(".content").delegate(".update_all_listing", "click", function(){  
  var tr = $(this)[0].parentElement.parentElement
  $("input", tr)[0].value = "获取中"
  var account = tr.children[0].textContent
  var url = `/update_all_listing?account=${account}`
  $.get(url, function(res){
    $("input", tr)[0].value = "success";
  })
})

//更新账号表现状态
$(".content").delegate(".update_shop_performance", "click", function(){  
  var tr = $(this)[0].parentElement.parentElement
  $("input", tr)[0].value = "获取中"
  var account = tr.children[0].textContent
  var url = `/update_shop_performance?account=${account}`
  $.get(url, function(res){
    $("input", tr)[0].value = res.data.join("\t");
  })
})

//打开后台页面
$(".content").delegate(".open_sellercenter", "click", function(){  
  var tr = $(this)[0].parentElement.parentElement
  $("input", tr)[0].value = "获取中"
  var account = tr.children[0].textContent
  var url = `/open_sellercenter?account=${account}`
  $.get(url, function(res){
    $("input", tr)[0].value = res.data.cookies;
  })
})

//导出表格 导出静态文件
$(".container").delegate("#table_export", "click", function(){
  var name = $("#table_name")[0].value
  var url = `/download_table?table=${name}`
  $.ajax({
    type:"GET",
    timeout: 1000 * 60 * 5,
    url: url,
    success: function(res){
        var url = res.data
        var ad = $("<a download>")[0]
        ad.href = url
        ad.value = "下载文件"
        ad.click()
    }
  })
})



</script>