{% extends "layout.html" %}
{% block title %}后台{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}

    <h2>后台数据管理</h2>
    <div class="demo-info" style="margin-bottom:10px">
        <div class="demo-tip icon-tip">&nbsp;</div>
        <div id="command_div">
            <input id=table_name type=text>
            <a  href="#" class="easyui-linkbutton" iconCls="icon-print" id=table_export type=button>导出表格</a>
            <a  href="#" class="easyui-linkbutton" iconCls="icon-reload" id=update_all_accounts_listings>同步全部账号在线产品</a>            
            <a  href="#" class="easyui-linkbutton" iconCls="icon-ok" id=uzong_update>部分更新总表SKU状态</a> 
        <form id="upload_form" action="/upload_file" method="post" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="submit" value="提交文件到后台并更新数据">
            
        </form>
        </div>
    </div>
    
    <table id="table_sufix" title="后缀管理" style="width:95%;"
            toolbar="#toolbar_sufix" pagination="true" idField="id"
            rownumbers="true" fitColumns="true" singleSelect="true">
        <thead>
            <tr>
                <th field="account" width="50" editor="{type:'validatebox',options:{required:true}}">账号组</th>
                <th field="name" width="50" editor="{type:'validatebox',options:{required:true}}">标题后缀</th>
                <th field="image" width="80" editor="text">水印文字</th>
                <th field="description" width="120" editor="text">描述后缀</th>
            </tr>
        </thead>
    </table>
    <div id="toolbar_sufix">
        <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="javascript:$('#table_sufix').edatagrid('addRow')">New</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="javascript:$('#table_sufix').edatagrid('destroyRow')">Destroy</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-save" plain="true" onclick="javascript:$('#table_sufix').edatagrid('saveRow')">Save</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-undo" plain="true" onclick="javascript:$('#table_sufix').edatagrid('cancelRow')">Cancel</a>
    </div>

    <br><br>
    <table id="table_password" title="密码管理" style="width:95%;"
            toolbar="#toolbar_password" pagination="true" idField="id"
            rownumbers="true" fitColumns="true" singleSelect="true">
        <thead>
            <tr>
                <th field="account" width="50" editor="{type:'validatebox',options:{required:true}}">账号</th>
                <th field="password" width="50" editor="{type:'validatebox',options:{required:true}}">密码</th>
                <th field="sale" width="50" editor="{type:'validatebox',options:{required:true}}">销售</th>
            </tr>
        </thead>
    </table>
    <div id="toolbar_password">
        <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="javascript:$('#table_password').edatagrid('addRow')">New</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="javascript:$('#table_password').edatagrid('destroyRow')">Destroy</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-save" plain="true" onclick="javascript:$('#table_password').edatagrid('saveRow')">Save</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-undo" plain="true" onclick="javascript:$('#table_password').edatagrid('cancelRow')">Cancel</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-search" plain="true" onclick="auto_login()">Login</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-reload" plain="true" onclick="auto_follow()">Follow</a>
    </div>

    <script type="text/javascript">
        //easyUI表单功能
        $(function(){
            $('#table_sufix').edatagrid({
                url: '/easyui/sufix/get',
                saveUrl: '/easyui/sufix/save',
                updateUrl: '/easyui/sufix/update',
                destroyUrl: '/easyui/sufix/delete'
            });
            //
            $('#table_password').edatagrid({
                url: '/easyui/password/get',
                saveUrl: '/easyui/password/save',
                updateUrl: '/easyui/password/update',
                destroyUrl: '/easyui/password/delete'
            });
        });

        //更新全部在线产品
        $("#command_div").delegate("#update_all_accounts_listings", "click", function(){
          if (! confirm("更新所有账号在线产品?")){return;}
          var url = `/update_all_accounts_listings`
          $.get(url, function(res){location.reload(true)})
        })
        //总表部分更新
        $("#command_div").delegate("#uzong_update", "click", function(){
          if (! confirm("部分更新总表SKU状态?")){return;}
          var url = `/uzong_update`
          $.get(url, function(res){location.reload(true)})
        })
        //导出表格 导出静态文件
        $("#command_div").delegate("#table_export", "click", function(){
          var name = $("#table_name")[0].value
          var url = `/download_table?table=${name}`
          $.ajax({
            type:"GET",
            timeout: 1000 * 60 * 5,
            url: url,
            success: function(res){
                var url = res.data
                var ad = $("<a download>")[0]
                ad.href = url
                ad.value = "下载文件"
                ad.click()
            }
          })
        })
        function auto_login(){
        var row = $('#table_password').datagrid('getSelected')
        var account = row.account
        var url = '/open_sellercenter?account=' + account
        $.get(url, function(res){})
        }
        function auto_follow(){
        var row = $('#table_password').datagrid('getSelected')
        var account = row.account
        var url = '/auto_follow?account=' + account
        $.get(url, function(res){$("#jsmessage")[0].textContent+=account + "关注完成"})       
        }


    </script>
{% endblock %}
