{% extends "layout.html" %}
{% block title %}产品{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}

<!-- 功能按键 -->
<h2>在线产品筛查</h2>
<div class="demo-info">
    <div class="demo-tip icon-tip">&nbsp;</div>
</div>
<div class="command_div">
<a class="easyui-linkbutton" iconCls="icon-search" id="promotion_calculation" >产品信息匹配</a>
<a class="easyui-linkbutton" iconCls="icon-print" id="export_by_account" >账号产品导出</a>
<a class="easyui-linkbutton" iconCls="icon-print" id="wrong_stock_by_account_easy"  >库存更新(按状态)</a>
<a class="easyui-linkbutton" iconCls="icon-print" id="wrong_stock_by_account_hard"  >库存更新(按库存)</a>
<a class="easyui-linkbutton dead" iconCls="icon-search" id="wrong_price_by_account"  >产品价格异常</a>
<a class="easyui-linkbutton" iconCls="icon-search" id="wrong_sku"  >违禁品批量查询</a>
<a class="easyui-linkbutton" iconCls="icon-search" id="duplicate_sku_by_account"  >上架前查重复</a>
<a class="easyui-linkbutton" iconCls="icon-reload" id="format_item_ids"  >item_id格式转换</a>
<a class="easyui-linkbutton" iconCls="icon-print" id="mass_download_sku"  >刊登资料下载</a>
<a class="easyui-linkbutton" iconCls="icon-edit" id="auto_attribute"  >品牌属性填写</a>
<a class="easyui-linkbutton admin" iconCls="icon-reload" id="update_listings_account"  >同步在线产品</a>
<a class="easyui-linkbutton admin" iconCls="icon-edit" id="update_stock_account"  >修改在线库存</a>
<a class="easyui-linkbutton" iconCls="icon-edit" id="wait_promotion_account"  >修改活动价格</a>
<a class="easyui-linkbutton admin" iconCls="icon-ok" id="select_output"  >在线执行SQL</a>
<a class="easyui-linkbutton" iconCls="icon-search" id="get_recommend_category"  >推荐分类查询</a>
<a class="easyui-linkbutton admin" iconCls="icon-print" id="stock2zero"  >库存调零</a>
<a class="easyui-linkbutton admin" iconCls="icon-print" id="zero2stock"  >库存补充</a>
<a class="easyui-linkbutton admin" iconCls="icon-print" id="name2detail"  >标题查询</a>
<br><br>
<!-- 搜索在线产品 -->
  <label >自定义SKU:</label>
  <input type="text" name="sku" class="search_value">
  <label >虾皮账号:</label>
  <input type="text" name="account" class="search_value">
  <label >评分大于:</label>
  <input type="number" name="rating" class="search_value">
    <br><br>
  <label >日均售出大于:</label>
  <input type="number" name="ado" class="search_value">
  <label >售出数量:</label>
  <input type="number" name="sold" class="search_value">
    <label >包含多属性 : </label>
      <input type="checkbox" name="multi_model">
  <a class="easyui-linkbutton" id="search" iconCls="icon-search">产品搜索</a>
<br><br>
</div>
<!-- 输入输出框 -->
<div class="textarea_div">
<textarea rows=30></textarea>
</div>
<!-- 更新时间备注 -->
<div class="des"> 
</div>


<script>
  var flag = {}
$("#promotion_calculation")[0].onclick = promotin_calculation
$("#export_by_account")[0].onclick = export_by_account
$("#wrong_stock_by_account_easy")[0].onclick = wrong_stock_by_account_easy
$("#wrong_stock_by_account_hard")[0].onclick = wrong_stock_by_account_hard
$("#wrong_price_by_account")[0].onclick = wrong_price_by_account
$("#wrong_sku")[0].onclick = wrong_sku
$("#duplicate_sku_by_account")[0].onclick = duplicate_sku_by_account
$("#format_item_ids")[0].onclick = format_item_ids
$("#search")[0].onclick = shopee_search
$("#mass_download_sku")[0].onclick = mass_download_sku_v2
$("#auto_attribute")[0].onclick = auto_attribute
$("#update_listings_account")[0].onclick = update_listings_account
$("#update_stock_account")[0].onclick = update_stock_account
$("#wait_promotion_account")[0].onclick = wait_promotion_account
$("#select_output")[0].onclick = select_output
$("#get_recommend_category")[0].onclick = ai_recommend_category
$("#stock2zero")[0].onclick = function(){$("textarea")[0].value = "with skus as (with t as (select * from stock where available = 0 ) select t.sku from t inner join zong on t.sku = zong.sku where zong.status = '暂时缺货' or zong.status = '停产') select item_id, model_id, 0, account, parent_sku, model_sku, model_sold, model_stock from items where model_stock > 0 and ((model_sku = '' and parent_sku in skus) or (model_sku <> '' and model_sku in skus));"}
$("#zero2stock")[0].onclick = function(){$("textarea")[0].value = "with skus as (with temp as (select * from stock where available > 5 and ado > 1 ) select temp.sku from temp inner join zong on temp.sku = zong.sku where zong.status = '正常' or zong.status = '起批量') select item_id, model_id, 100, account, parent_sku, model_sku, model_sold, model_stock from items where model_stock = 0 and ((model_sku = '' and parent_sku in skus) or (model_sku <> '' and model_sku in skus));"}
$("#name2detail")[0].onclick = name2detail


$(document).ready(function(){
$('#layout_div').layout('collapse','west');
});
//结果输出
function show_data(data){
    if (data.length == 0){$("textarea")[0].value = '无内容'}
    if (typeof(data[0]) == "object"){
        console.log('matrix')
        for (var i = 0; i < data.length; i++) { data[i] = data[i].join("\t");}
    }
    var con = data.join("\n")
    $("textarea")[0].value = con
}
//文件下载链接
function file_link(file_name){
    let a = $("<a class=download_link></a>")[0]
    a.textContent = file_name
    a.download = file_name
    a.href = "\\static\\" + file_name
    //$(".des")[0].append(a)
    a.click()
}
//基本信息初始化
basic_info()
function basic_info(){
  $.get("/basic_info", function(res){
    var data = res.data;
    var hd = [['账号', '本周上架', '本月上架', '上月上架', '上月售出', '在线数量', '最后上架', '统计时间',]]
    show_data(hd.concat(data))
    var zong = res.info[0]
    var stock = res.info[1]
    $(".des")[0].textContent = `说明：总表更新于${zong}, 库存表更新于${stock}.`
  })
}

//查询listingSKU详情
function promotin_calculation(){
    var raw = $("textarea")[0].value.split("\n").filter(i=>i.length>3).map(i=>i.split("\t"))
    raw.map(i => i.map(j => Number(j)))
    var data = {"data":[]}
    for (let row of raw){
        let e = {}; e.item_id = row[0];
        if (row.length == 1 || row[1] == ""){e.model_id = 0}else{e.model_id = row[1]}
        data.data.push(e)
    }

    var url = "/shopee_get_items_by_id"
    $.ajax({
        type:"POST",
        url: url,
        data:JSON.stringify(data),
        headers: {"Content-Type": "application/json"},
        success:function(res){
            var rows = res.data
            show_data(rows)
        }
    })
}

//按账号导出LISTING全部信息
function export_by_account(){
  $("textarea")[0].value = "处理中"
  var account = $("[name=account]")[0].value.trim()
  if (account.indexOf(".") < 0){alert("账号名称错误");return;}
  var url = "/export_by_account"
  data = {"account": account}
  $.ajax({
    type:"POST",
    url: url,
    data:JSON.stringify(data),
    headers: {"Content-Type": "application/json"},
    success:function(res){
        var file_name = res.data.file_name
        file_link(file_name)
        $("textarea")[0].value = "完成"
    }
})
}

//按账号导出库存异常LISTING
function wrong_stock_by_account_easy(){wrong_stock_by_account(false)}
function wrong_stock_by_account_hard(){wrong_stock_by_account(true)}
function wrong_stock_by_account(hard){
  var hd = [["et_title_product_id","et_title_product_name","et_title_variation_id",
    "et_title_variation_name","et_title_parent_sku","et_title_variation_sku",
    "et_title_variation_price","et_title_variation_stock","et_title_result",
    "et_title_reason"],["sales_info","","","","","","","","",""],
    ["Product ID","Product Name","规格编号","名称","主商品货号","商品货号","价格","库存","",""]]
    $("textarea")[0].value = "处理中"
  var account = $("[name=account]")[0].value.trim()
  if (account.indexOf(".") < 0){alert("账号名称错误");return;}
  var url = hard ? "/wrong_stock_by_account_hard" : "/wrong_stock_by_account"
  data = {"account": account}
  $.ajax({
    type:"POST",
    url: url,
    data:JSON.stringify(data),
    headers: {"Content-Type": "application/json"},
    success:function(res){
        var rows = res.data.rows
        hd = hd.concat(rows)
        resock2book(hd)        
        $("textarea")[0].value = "处理完成"        
    }
})
}

//按账号导出价格异常LISTING
function wrong_price_by_account(){
  var hd = [["item_id", "model_id", "价格", "库存", "状态", "成本", "重量", 
  "SKU", "品名", "评价数", "0%利润价格", "15%利润价格", "利润率"]]
  $("textarea")[0].value = "处理中"
  var account = $("[name=account]")[0].value.trim()
  if (account.indexOf(".") < 0){alert("账号名称错误");return;}
  var url = "/wrong_price_by_account"
  data = {"account": account}
  $.ajax({
    type:"POST",
    url: url,
    data:JSON.stringify(data),
    headers: {"Content-Type": "application/json"},
    success:function(res){
        var rows = res.data.rows
        var site = account.split(".")[1]
        rows.map(i=>{i[9] = i[9] == null ? 0 : i[9]})
        rows.map(i=>{let p1 = calculate_price(i[5], i[6], 0)[site]; i.push(p1)})
        rows.map(i=>{let p2 = calculate_price(i[5], i[6], 0.15)[site]; i.push(p2)})
        rows.map(i=>{let pr = Math.round((i[2] - i[10])/ i[2] *100) + "%" ;i.push(pr)})
        hd = hd.concat(rows)
        show_data(hd)
    }
})
}

//禁运品SKU查询
function wrong_sku(){
  var account = $("[name=account]")[0].value.trim()
  var sku_list = $("textarea")[0].value.split("\n").map(i=>i.trim())
  var url = "/wrong_sku"
  data = {"sku_list": sku_list, "account":account}
  $.ajax({
    type:"POST",
    url: url,
    data:JSON.stringify(data),
    headers: {"Content-Type": "application/json"},
    success:function(res){
        var rows = res.data
        show_data(rows)        
    }
})
}

//刊登前重复SKU查询
function duplicate_sku_by_account(){
  var account = $("[name=account]")[0].value.trim()
  var sku_list = $("textarea")[0].value.split("\n").map(i=>i.trim())
  $("textarea")[0].value = "处理中" 
  var url = "/duplicate_sku_by_account"
  data = {"sku_list": sku_list, "account":account}
  $.ajax({
    type:"POST",
    url: url,
    data:JSON.stringify(data),
    headers: {"Content-Type": "application/json"},
    success:function(res){
        var rows = res.data.skus
        show_data(rows)        
    }
});
}
//item_id格式转换
function format_item_ids(){
  var vs = []
  var ids = new Set($("textarea")[0].value.split("\n").map(i=>i.trim()).filter(i=>i>""))
  ids.forEach(function(i, ii, ar){ vs.push(i) })
  $("textarea")[0].value = vs.join(",")
}
//搜索产品列表
function shopee_search(){
  var data = {}  
  data.account = $("[name=account]")[0].value.trim()
  data.sku = $("[name=sku]")[0].value.trim()
  data.rating = $("[name=rating]")[0].value
  data.ado = $("[name=ado]")[0].value
  data.sold = $("[name=sold]")[0].value
  data.multi_model = $("[name=multi_model]")[0].checked ? 1 : 0
  var url = "/shopee_search"
  $.ajax({
    type:"POST",
    url: url,
    data:JSON.stringify(data),
    headers: {"Content-Type": "application/json"},
    success:function(res){
        var rows = res.data
        show_data(rows)
    }
  })
}
//价格计算公式
function calculate_price(c, w, r = 0){
    var rmy = 1.6074
    var rid = 0.000463
    var rtw = 0.2343
    var rph = 0.1389
    var rvn = 0.00029
    var rth = 0.2146
    var rsg = 4.914
    var rbr = 1.1675
    var rmx = 0.3118
    w = Math.ceil(w/10)*10
    var smy = w*0.015
    var sid = w*120
    var stw = Math.ceil(w/500)*30-15
    var sph = Math.max(w*0.45+1, 23)
    var svn = w*90
    var sth = w*0.2
    var ssg = Math.max(w*0.011 + 0.05,0.6)
    var sbr = Math.min(Math.max(5, w * 0.14 + 0.8), w * 0.09 + 5.8)
    var smx = Math.min(Math.max(20, w * 0.5 + 5), w * 0.4 + 55)
    var price = {}
    var costrate = 0.06 + 0.02 + 0.02 + 0.04 + 0.02 + 0.01
    price.my = Math.ceil((c+smy*rmy)/(1-costrate-r)/rmy *10)/10
    price.id = Math.ceil((c+sid*rid)/(1-costrate-r)/rid /100)*100
    price.tw = Math.ceil((c+stw*rtw)/(1-costrate-r)/rtw /1)*1
    price.th = Math.ceil((c+sth*rth)/(1-costrate-r)/rth /1)*1
    price.ph = Math.ceil((c+sph*rph)/(1-costrate-r)/rph /1)*1
    price.vn = Math.ceil((c+svn*rvn)/(1-costrate-r)/rvn /100)*100
    price.sg = Math.ceil((c+ssg*rsg)/(1-costrate-r)/rsg * 10)/10
    price.br = Math.ceil((c+sbr*rbr)/(1-costrate-r)/rbr * 10)/10
    price.mx = Math.ceil((c+smx*rmx)/(1-costrate-r)/rmx * 10)/10
    return price
}
  function resock2book(data){
    //console.log(data)
        var acsi = $("[name=account]")[0].value.trim()
        var workbook_upload = XLSX.utils.book_new();
        var sheet = XLSX.utils.aoa_to_sheet(data)
        var sheet_name = "sheet1"
        XLSX.utils.book_append_sheet(workbook_upload, sheet, sheet_name)
        workbook2blob(workbook_upload, "2restock_" + acsi);
    }
    // 将workbook装化成blob对象
    function workbook2blob(workbook, fileName = "导出") {
        var wopts = {
            bookType: "xlsx",
            bookSST: false,
            type: "binary"
        };
        var wbout = XLSX.write(workbook, wopts);
        function s2ab(s) {
            var buf = new ArrayBuffer(s.length);
            var view = new Uint8Array(buf);
            for (var i = 0; i != s.length; ++i) view[i] = s.charCodeAt(i) & 0xff;
            return buf;
        }
        var blob = new Blob([s2ab(wbout)], {
            type: "application/octet-stream"
        });

        blob = URL.createObjectURL(blob);
        var aLink = document.createElement("a");
        aLink.href = blob;
        aLink.download = fileName + ".xlsx";
        aLink.click();
    }
    //批量下载刊登资料
    function mass_download_sku(){
        var acsi = $("[name=account]")[0].value.trim()     
        var sku_list = $("textarea")[0].value.split("\n").filter(i=>i.length>5).map(i=>i.trim())
        for (let e of [acsi, sku_list]){
          if (e == ""){alert("账号/SKU输入错误");return;}
        }
        let step = 50
        flag.data = []
        flag.sku_list_count = 0
        for (let i=0; i < sku_list.length; i += step){
            let current_list = sku_list.slice(i, i + step)
            mass_read_sku_info(current_list, acsi, user_name, user_password)
            flag.sku_list_count += 1
        }

    }
    //批量下载刊登资料V2
    function mass_download_sku_v2(){
        var acsi = $("[name=account]")[0].value.trim()   
        var sku_list = $("textarea")[0].value.split("\n").filter(i=>i.length>5).map(i=>i.trim())
        for (let e of [acsi, sku_list]){
          if (e == ""){alert("账号/SKU输入错误");return;}
        }
        $("textarea")[0].value = "处理中"
        var data = {'acsi': acsi,
            'sku_list': sku_list}
        var url = '/sku_info_excel'
        $.ajax({
            type:"POST",
            url: url,
            data:JSON.stringify(data),
            headers: {"Content-Type": "application/json"},
            success:function(res){
                var name = res.name
                file_link(name)
                console.log(res)     
            },
            error: function(xhr, msg, err){
            alert(err);
            }
        })


    }
    //在线库存更新
    function update_stock_account(){
        var rows = $("textarea")[0].value.split("\n").map(i=>i.split("\t"))
        var mp = {}
        for (let i of rows){
            let account = i.length >= 4 ? i.pop() : $("[name=account]")[0].value
            let values = mp[account] ? mp[account] : []
            values.push(i)
            mp[account] = values
        }
        for (let account of Object.keys(mp)){
            $('#jsmessage')[0].textContent += account + '准备更新;'
            var url = "/update_stock_account"
            var data = {"rows": mp[account], "account": account}
            $.ajax({
                type:"POST",
                url: url,
                data:JSON.stringify(data),
                headers: {"Content-Type": "application/json"},
                success:function(res){
                    $('#jsmessage')[0].textContent += account + '更新成功;'
                    console.log(res)     
                }
            })
        }
    }
    //活动价格更新
    function wait_promotion_account(){
        var rows = $("textarea")[0].value.split("\n").filter(i=>i.length>0).map(i=>i.split("\t"))
        var account = $("[name=account]")[0].value
        var url = "/wait_promotion_account"
        var data = {"rows": rows, "account": account}
        $('#jsmessage')[0].textContent += account + '准备更新;'
        $.ajax({
            type:"POST",
            url: url,
            data:JSON.stringify(data),
            headers: {"Content-Type": "application/json"},
            success:function(res){
                $("textarea")[0].value = "已提交"
                $('#jsmessage')[0].textContent += account + '更新成功;'
                console.log(res)     
            }
        })
    }
    //同步在线产品
    function update_listings_account(){
        var account = $("[name=account]")[0].value
        let url = '/update_all_listings?account=' + account
        $('#jsmessage')[0].textContent += account + '准备更新;'
        $.get(url, function(res){
        $('#jsmessage')[0].textContent += account + '更新成功;'
        })
    }
    //sql语法在线查询输出
    function select_output(){
        var sql = $("textarea")[0].value.trim()
        $(".des")[0].textContent = sql
        var url = "/select_output"
        var data = {"sql": sql}
        $.ajax({
            type:"POST",
            url: url,
            data:JSON.stringify(data),
            headers: {"Content-Type": "application/json"},
            success:function(res){
                console.log(res)
                show_data(res.data)
            }
        })
    }
    //平台推荐分类
    function get_recommend_category(){
        var name_list = $("textarea")[0].value.split("\n").map(i=>i.trim())
        var account = $("[name=account]")[0].value
        var url = "/get_recommend_category"
        var data = {"name_list": name_list, "account": account}
        if (!account){alert("账号未填写");return;}
        $('#jsmessage')[0].textContent += account + '准备查询;'
        $.ajax({
            type:"POST",
            url: url,
            data:JSON.stringify(data),
            headers: {"Content-Type": "application/json"},
            success:function(res){
                $('#jsmessage')[0].textContent += account + '查询成功;'
                console.log(res)
                let data = name_list.map(i=>[i, res.data[i]])
                show_data(data)
            }
        })
    }
    //智能推荐分类
    function ai_recommend_category(){
        var name_list = $("textarea")[0].value.split("\n").map(i=>i.trim()).filter(i=>i.length>0).map(i=>i.trim())
        var account = $("[name=account]")[0].value
        var url = "/ai_recommend_category"
        var data = {"name_list": name_list, "account": account}
        if (!account){alert("账号未填写");return;}
        $('#jsmessage')[0].textContent += account + '准备查询;'
        $.ajax({
            type:"POST",
            url: url,
            data:JSON.stringify(data),
            headers: {"Content-Type": "application/json"},
            success:function(res){
                $('#jsmessage')[0].textContent += account + '查询成功;'
                console.log(res)
                show_data(res.data)
            }
        })
    }
    function name2detail(){
        var name_list = $("textarea")[0].value.split("\n").filter(i=>i.length>0).map(i=>i.trim())
        var account = $("[name=account]")[0].value
        var url = "/name2detail"
        var data = {"name_list": name_list, "account": account}
        $('#jsmessage')[0].textContent += account + '准备更新;'
        $.ajax({
            type:"POST",
            url: url,
            data:JSON.stringify(data),
            headers: {"Content-Type": "application/json"},
            success:function(res){
                $("textarea")[0].value = "已提交"
                $('#jsmessage')[0].textContent += account + '更新成功;'
                show_data(res.data)     
            }
        })
    }

    //处理待刊登产品属性
    function auto_attribute(){
      $("textarea")[0].value = "处理中"
      var account = $("[name=account]")[0].value.trim()
      if (account.indexOf(".") < 0){alert("账号名称错误");return;}
      var url = "/auto_attribute"
      var params = {"account": account}
      $.get(url, params, function(res){
          $("textarea")[0].value = "已完成"
      })
    }
</script>

{% endblock %}
