<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" type="text/css" href="/static/js/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/js/easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/static/js/easyui/demo/demo.css">
    <link rel="stylesheet" type="text/css" href="/static/js/style.css">
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/xlsx.core.min.js"></script>
    <script type="text/javascript" src="/static/js/irobotbox_api.js"></script>
    <script type="text/javascript" src="/static/js/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/static/js/easyui/jquery.edatagrid.js"></script>
    <link rel="shortcut icon" href="/static/js/favicon.ico" type="image/x-icon"/>
    <title>{% block title %}{% endblock %} - shopee数据分析</title>

    {% endblock %}
  </head>
  <body>

      <div id="navigator" title="Navigator">

        <div id="navigator_panel" class="easyui-panel" title="导航" collapsible="true" >
            <a href="/shopee_index" class="easyui-linkbutton" >在线产品</a><br><br>
            <a href="/shopee_dashboard" class="easyui-linkbutton" >指标统计</a><br><br>
            <a href="/shopee_admin" class="easyui-linkbutton" >后台管理</a><br><br>
            <a href="/shopee_login" class="easyui-linkbutton" >登录账号</a><br><br>
            <a href="/shopee_logout" class="easyui-linkbutton" >退出账号</a><br><br>

        </div><br><br>
      <div id="message_panel" class="easyui-panel" title="用户" collapsible="true" >
        <p id="username">当前用户:</p>
      </div><br><br>
      <div id="message_panel" class="easyui-panel" title="消息" collapsible="true" >
        <p id="jsmessage"></p>
              {% with messages = get_flashed_messages() %}
                {% if messages %}
                  <p class=flashes>
                  {% for message in messages %}
                    {{ message }}
                  {% endfor %}
                  </p>
                {% endif %}
              {% endwith %}        
      </div><br><br>

      </div>
      <div  id="content">{% block content %}{% endblock %}</div>
      <br><br>
      <div id="footer">
        {% block footer %}
        &copy; Copyright 2010 by <a href="">shopee数据分析</a>.
        {% endblock %}
      </div>

  </body>
</html>
<script type="text/javascript">
  var url = "/login_status"
  $.get(url, res=>{
    var username = res.username ? res.username : "未登录";
    $("#username")[0].textContent += username

  })
</script>