<html>
<head>
<meta charset="utf-8">
<script src="static/js/jquery.min.js"></script>
<script src="static/js/jquery.cookie.js"></script>
<link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon"/>
<style type="text/css">
div {margin:10px;}
input {margin:5px;}
.container {width: 90%; height:80%;padding:4%; border: 3px solid green;}
.form_box {width: 90%; padding:4%; border: 3px solid green;}
.login_form {margin: auto;width: 20%;}

</style>

<title>数据分析_登录</title>
</head>

<body>
<div class=container>
<div class=head>        



</div>

<div class=content>
  <div class=form_box >
  <form class=login_form method="post">
            <p><input type=text name=username>
            <p><input type=password name=password>
            <p><input type=submit value=Login>
        </form>
        </div>
</div>

<div class=foot>
</div>
</div>
</body>
</html>
