{% extends "layout.html" %}
{% block title %}登录{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<h2>后台管理登录</h2>
<div id="login_form_div">

    <div class="demo-info" style="margin-bottom:10px">
        <div class="demo-tip icon-tip">&nbsp;</div>
    </div>
    <div style="border-bottom:1px solid #ccc">登录后台添加修改数据</div>
    <form id="login_form" action="/shopee_login" method="post">
        <table>
            <tr>
                <td>Name:</td>
                <td><input name="username" type="text"></input></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input name="password" type="password"></input></td>
            </tr>
            <tr><br>
                <td></td>
                <td><input type="submit" value="登录"></input></td>
            </tr>
        </table>
    </form>
    </div>
{% endblock %}
