{% extends "layout.html" %}
{% block title %}登录{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div id="login_form_div">
    <div style="border-bottom:1px solid #ccc">用户登录</div>
    <form id="login_form" action="/shopee_login" method="post">
        <table>
            <tr>
                <td>Name:</td>
                <td><input name="username" type="text"></input></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input name="password" type="password"></input></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Submit"></input></td>
            </tr>
        </table>
    </form>
    </div>
{% endblock %}
